body {
  background-color: pink;
  color: darkblue;
  font-family: sans-serif;
}
.container {
  display: block;
  margin: 120px auto;
  max-width: 300px;
  text-align: center;
  background-color: azure;
  border: 2px solid darkcyan;
  border-radius: 10px;
  padding-bottom: 15px;
  box-shadow: rgba(74, 136, 186, 0.5) 0px 5px 15px;
  /* box-shadow: 2px 4px 6px 2px rgba(74, 136, 186, 0.5);*/
}
h1 {
  text-align: center;
  font-family: Orbitron;
  font-size: 30px;
  opacity: 0.9;
}
h2 {
  font-size: 22px;
  opacity: 0.9;
}
select {
  display: block;
  margin: 0 auto;
  padding: 5px 7px;
  font-size: 18px;
  width: 240px;
  background-color: azure;
  color: darkblue;
  border: dashed darkcyan;
  border-width: 2px 4px;
  border-radius: 40px;
}
select:focus {
  outline: none;
  border: solid darkcyan;
  border-width: 2px 4px;
  border-radius: 40px;
}
.city {
  text-align: left;
  margin-left: 20px;
}
#ny {
  text-align: left;
  margin-left: 0px;
}

.selected-city {
  text-align: left;
  margin-left: 20px;
}
.date {
  margin-top: -20px;
  text-align: left;
  opacity: 0.7;
}
.time {
  text-align: right;
  font-size: 26px;
  margin-top: 10px;
  margin-right: 20px;
  font-family: Orbitron;
  color: #c803c8;
  font-weight: bold;
}
hr {
  max-width: 260px;
  border: 1px solid darkslateblue;
  opacity: 0.4;
}
small {
  font-size: 16px;
}
footer {
  text-align: center;
  margin-top: -110px;
}
