body {
  /*background-color: pink;*/
  /*background-image: linear-gradient(
    90deg,
    transparent 50%,
    rgba(213, 107, 192, 0.77) 50%
  );
  background-size: 171px 171px;
  background-color: rgba(213, 57, 224, 0.29);*/
  background-image: linear-gradient(
    90deg,
    transparent 50%,
    rgba(36, 3, 69, 0.575) 50%
  );
  background-size: 171px 171px;
  background-color: rgba(217, 69, 217, 0.2);
  color: darkblue;
  font-family: sans-serif;
}
.container {
  display: block;
  margin: 80px auto;
  max-width: 300px;
  text-align: center;
  /*background: #f3b6e7;*/
  background-color: azure;
  border: groove 2em goldenrod;
  border-radius: 4em;
  /*border: 2px solid darkcyan;
  border-radius: 10px;*/
  padding-bottom: 15px;
  box-shadow: rgba(30, 58, 81, 0.5) 0px 10px 30px;
  /*box-shadow: rgba(74, 136, 186, 0.5) 0px 10px 30px;*/
  /*box-shadow: 4px 8px 12px 4px rgba(74, 136, 186, 0.5);*/
}
h1 {
  text-align: center;
  font-family: Orbitron;
  font-size: 30px;
  opacity: 0.9;
  font-weight: bold;
}
h2 {
  font-size: 22px;
  opacity: 0.9;
}
select {
  display: block;
  margin: 0 auto;
  padding: 5px 7px;
  font-size: 18px;
  width: 240px;
  background-color: azure;
  color: darkblue;
  border: dashed darkcyan;
  border-width: 2px 4px;
  border-radius: 40px;
}
select:focus {
  outline: none;
  border: solid darkcyan;
  border-width: 2px 4px;
  border-radius: 40px;
}
.city {
  text-align: left;
  margin-left: 20px;
}
/*#ny {
  text-align: left;
  margin-left: 0px;
}*/
#current {
  text-align: left;
  margin-left: 0px;
}
/*#cities {
  text-align: left;
  margin-left: 20px;
}*/
.selected-city {
  text-align: left;
  margin-left: 20px;
}
.date {
  margin-top: -20px;
  text-align: left;
  opacity: 0.7;
}
.time {
  text-align: right;
  font-size: 26px;
  margin-top: 10px;
  margin-right: 20px;
  font-family: Orbitron;
  color: #c803c8;
  font-weight: bold;
}
hr {
  max-width: 260px;
  border: 1px solid darkslateblue;
  opacity: 0.4;
}
small {
  font-size: 16px;
}
footer {
  font-size: 16px;
  font-family: monospace;
  text-align: center;
  margin-top: -70px;
  opacity: 0.7;
  color: rgb(109, 109, 189);
}
